In [1]:
import pandas as pd
dfc = pd.read_parquet("../feature_repo/data/channels.parquet")
dfc

,date,channel_id,channel_name,k_subscribers,30_days_k_views,created
0,2023-11-07,1,Infinite queue,172,1050,2023-11-07 15:01:21.457
1,2023-11-06,1,Infinite queue,173,930,2023-11-07 15:01:21.457
2,2023-11-05,1,Infinite queue,190,2000,2023-11-07 15:01:21.457
3,2023-11-07,5,TheLuckyOne,5000,8070,2023-11-07 15:01:21.457
4,2023-11-06,5,TheLuckyOne,6000,9000,2023-11-07 15:01:21.457
5,2023-11-05,5,TheLuckyOne,7000,12000,2023-11-07 15:01:21.457
6,2023-11-04,5,TheLuckyOne,8000,13500,2023-11-07 15:01:21.457